@import url('https://fonts.googleapis.com/css?family=Sen');

body {
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  */
  font-family: 'Sen', 'Roboto', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 100vw;
  max-width: 1200px;
  padding: 12px;
  margin: auto;
  font-family: 'Sen', cursive;
}

#root {
  background-color: #242936;
}

a {
  color: #1982C4;
}